<p>
  <strong>Username:</strong>
  <%= @user.username %><br>
  <strong>First Name:</strong>
  <%= @user.first_name %><br>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<h2>Add a post:</h2>
<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>

  <p>
    <%= form.label :post %><br>
    <%= form.text_area :post %><br>
    <%= form.submit %>
  </p>
<% end %>

<h2>Posts</h2>
<% #@user.posts.each do |post| %>
<% @allposts.each do |post| %>
   <p>
    <strong>Post:</strong><br>
    <%= post.created_at.strftime("%d %B %Y, at %I:%M%p") %><br>
    <%= post.post %>
    <br>
    <%= link_to 'Delete', [post.user, post],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>

    <% # edit link was here but broke %>
    </p>

<% end %>

<%= link_to "Log Out", logout_path %>
