<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<h2>Posts</h2>
<% @user.posts.each do |post| %>

   <p>
    <strong>Post:</strong>
    <%= post.post %>
  </p>

<% end %>

<h2>Add a post:</h2>
<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>

  <p>
    <%= form.label :post %><br>
    <%= form.text_area :post %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to "Log Out", logout_path %>
