<div class="nav-top">
  <% if current_user %>
    <a href="/logout">Log Out</a>
  <% else %>
    <a href="/">Home</a>
    <a class="active" href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  <% end %>
</div>

<div id="wpaper">
  <div id="namebox">
      <strong>Username:</strong>
      <%= @user.username %><br>
      <strong>First Name:</strong>
      <%= @user.first_name %><br>
      <strong>Last Name:</strong>
      <%= @user.last_name %>
  </div>
  <div class="spacer"></div>
  <div id="addpost">
    <h2>Add a post:</h2>
    <%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>
        <%= form.label :post %><br>
        <%= form.text_area :post, class: "postbox" %><br>
        <%= form.submit class: "postbutton" %>
    <% end %>
  </div>
  <div class="spacer"></div>
  <div id="posts">
    <h2>Posts</h2>
    <% #@user.posts.each do |post| %>
    <% @allposts.each do |post| %>
       <div id="singlepost">
          <strong>Post:</strong><br>
          <%= post.created_at.strftime("%d %B %Y, at %I:%M%p") %><br>
          <%= post.post %>
          <br>
          <%= link_to 'Delete', [post.user, post],
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>

          <% # edit link was here but broke %>
          <div class="spacer"></div>
        </div>
        <div class="spacer"></div>
    <% end %>
  </div>

  <%= link_to "Log Out", logout_path %>
</div>
